
@{
    Layout = null;
}
@Styles.Render("~/Content/Site.css")

<div> 
    <div class="button">@Html.ActionLink("Home", "Index")</div>
    <div class="button">@Html.ActionLink("Catalog", "Catalog")</div>
</div>