@using System.Collections.Generic
@using EcommerceSite1.Models;

@model IEnumerable<Game>

<div id="Sidebar">
    @{
        bool first = false;
    }
    @foreach(Game g in Model) {
        if (!first) {
            first = true;
        } else {
            <hr />
        }
        <div class="button">
            @Html.Partial("~/Views/GameVeiw_Small.cshtml", g)
        </div>
    }
</div>