@model HelloMVC_take4.Models.FormResponce
 
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        Have happy day! Content goes here! Try our new form:
        @Html.ActionLink("Click Here Now!", "RandForm")
    </div>
</body>
</html>
