@model EcommerceSite1.Models.Game

<a class="LargeGameVeiw" href=@(Model.Link)>
    <h1>@Model.Title</h1>
    <h2>$@Model.Price</h2>
    <div>
        <img src=@Model.ImageURL />
    </div>
    <h3>@Model.ShortDescription</h3>
    <p>@Model.LongDescription</p>
</a>