@model EcommerceSite1.Models.Game

<div class="FullGameVeiw">
    <h1>@Model.Title:          $@Model.Price</h1>
    <div>
        <img src=@Model.ImageURL />
    </div>
    <h3>@Model.ShortDescription</h3>
    <p>@Model.LongDescription</p>
</div>