@{
    ViewBag.Title = "Home Page";

    Layout = ViewBag.LayoutFile;
}

@section Header{
<div class="div">
    A Header!
</div>
    }
@section Footer{
<div class="div">
    A Footer!
</div>
    }
@section Nav{
<div class="div">
    <a href="~/Bootstrap">Bootstrap</a>
    <a href="/Boxy">Boxy</a>
    <a href="Lazy">Lazy</a>
</div>
    }

<div class="div">
    A Body!
</div>
