@{
    ViewBag.Title = "Home Page";
}

<div id="Home">
    <h1>Congratulation!</h1>
    <h2>You have discovered the undiscovered game exchange.</h2>
    <img src="~/Resources/aWinnerIsYou.jpg" />
    <p>Here we plan to allow you happy people to trade your games through the net.</p>
    <p>For now we have onle three game to allow you to trade. Please enjoy them in the sidebar!</p>
    <h6>*Poor grammar intentional</h6>
</div>